*.iml
.gradle
/local.properties
.idea/*
app/src/main/kotlin/.idea
.DS_Store
/build
/build.*
build.*
.*/build
/captures
.externalNativeBuild
.cxx
local.properties


lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

proguard/
